body {
	margin: 0;
	overflow-x: hidden;
}

section {
	overflow: hidden;
	text-align: center;
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.container {
	width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.header-bar {
	padding: 26px 0 26px 0;
	background: #fff;
	position: relative;
}

.header-bar__logo {
	float: left;
}

.header-bar__logo a {
	text-decoration: none;
    color: #000;
    font-size: 25px;
}

.header-bar__nav {
	float: right;
}

.header-block {
	position: relative;
}

.nav-block {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav-block i {
	position: absolute;
    top: 15px;
    right: 43.7%;
    font-size: 10px;
}

.about i {
	display: none;
}

.nav-block__nav-item.nav-block__nav-item_active a { 
	color: orange;
}

.nav-block__nav-item { 
	list-style-type: none;
	display: inline-block;
    padding: 0 21px 0 21px;
    font-size: 13px;
    text-transform: uppercase;
}

.nav-block__nav-item a {
	text-decoration: none;
	color: #000;
}

.nav-block__nav-item a:hover {
	color: orange;
	-webkit-transition: 0.25s ease-out;
}

.main-presentation-page {
	height: 500px;
	background: url(moon.jpg);
	background-size: cover;
}

.main-presentation-page__btn-circle {
	background: orange;
    border: 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 15px;
}

.main-presentation-page__btn-circle:focus {
	outline: none;
}

.main-presentation-page__main-site-title {
	color: #fff;
	text-decoration: underline;
	font-size: 40px;
	margin: 100px 270px 40px 270px;
}

.main-presentation-page__second-site-title {
	color: #fff;
	font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
    margin: 10px 340px 40px 340px;
}

.main-presentation-page__btn-circle i {
	font-size: 30px;
    color: #fff;
}

.our-specialization {
	margin-bottom: 35px;
}

.sections__title {
	color: #627f85;
	font-size: 35px;
}

.sections__subtitle {
	color: grey;
}

.w25 {
	width: 25%;
	box-sizing: border-box;
	float: left;
}

.our-advantages__item {
	background: #f6f6f6;
	padding: 60px 0 60px 0;
	border-right: 1px solid #627f85;
}

.our-advantages__item:last-child {
	border: 0;
}

.our-advantages__item i {
	font-size: 65px;
	color: orange;
}

.our-advantages div.our-advantages__item:last-child {
	border-right: none;
}

.our-advantages__subtitle {
	color: grey;
    padding: 0 70px;
}

.our-advantages__title {
	color: #627f85;
    font-weight: bold;
    font-size: 21px;
}

.our-advantages__btn-sm {
	background: #627f85;
	color: #fff;
    border: 0;
    padding: 7px 17px;
    border-radius: 5px;
}

.our-advantages__btn-sm:hover {
	cursor: pointer;
}

.footer-block {
    font-size: 20px;
    color: orange;
	display: block;
	margin: 0 auto;
	width: 25%;	
	text-align: center;
}

.footer-block i:first-child {
	margin-right: 5px;
}

footer {
	margin-bottom: 35px;
}

.fa.fa-bars {
	display: block;
	font-size: 30px;
    margin-right: 15px;
}

.mini-nav-block {
	display: none;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 200px;
	position: absolute;
	margin: 0;
	background: #CCCFBA;
    right: 0;
    top: 82px;
    z-index: 1000;
    border-radius: 5px;
}

.mini-nav-block__link {
	text-decoration: none;
	color: #000;
}

.mini-nav-block__link:hover, .mini-nav-block__link:focus {
	color: #FFF;
	-webkit-transition: 0.2s linear;
}

.mini-nav-block__nav-item {
	padding: 5px 10px;
}

.mini-nav-block__nav-item:hover {
	background: grey;
	border-radius: 5px;
}

